<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }}</title>
	<link rel="me home" href="http://ricardomartins.cc/"/>
	<link rel="openid.server" href="http://www.myopenid.com/server"/>
	<link rel="openid.delegate" href="http://meqif.myopenid.com"/>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.min.css"/>
	<link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox.min.css"/>
	<link rel="alternate" type="application/atom+xml" title="Ricardo Martins' web place" href="/atom.xml"/>
	<meta name="author" content="Ricardo Martins" />
	<meta name="description" content="Ricardo Martins{% if page.url == "" %} is a Computer Science student at Faculdade de Ciências e Tecnologia - Universidade Nova de Lisboa.{% else %} - {{ page.title }}{% endif %}" />
	<meta name="viewport" content="width=808" />
	<meta name="geo.placename" content="Caparica, Almada, Portugal" />
	<meta name="geo.position" content="38.668428;-9.190110" />
	<meta name="geo.region" content="PT-Setubal" />
	<meta name="ICBM" content="38.668428, -9.190110" />
	<meta name="DC.title" content="Ricardo Martins' online home"/>
</head>
<body>

<div id="page-wrapper">

	<div id="site-title">
		<a href="/">Ricardo Martins</a>
		<span class="blurb">on software and madness</span>
	</div>
	<div id="navlist-wrapper">
		<ul id="navlist">
			<li><a href="/">archive</a></li>
			<li><a id="about-toggle" href="#">about</a></li>
		</ul>
	</div>

	<div id="about" style="display:{% if page.url == "" %}block{% else %}none{% endif %}">
		<a href="http://farm4.static.flickr.com/3518/4075304185_4cfa298550.jpg" class="lightbox"><img src="/images/me.jpg" width="200" height="130" alt="Me!" title="Hello there!"/></a>
		<div id="about-text">
			<p>Hello there! My name is Ricardo Martins and I'm currently in my third year of Computer Science at <a href="http://www.di.fct.unl.pt">Faculdade de Ciências e Tecnologia &mdash; Universidade Nova de Lisboa.</a></p>
			<p>You can also find me at <a href="http://twitter.com/meqif" rel="me">twitter</a>, <a href="http://identi.ca/meqif" rel="me">identi.ca</a>, <a href="http://delicious.com/meqif" rel="me">del.icio.us</a>, <a href="http://flickr.com/ricardo_martins" rel="me">flickr</a>, <a href="http://www.librarything.com/profile/meqif" rel="me">librarything</a>, <a href="http://www.last.fm/user/Meqif" rel="me">last.fm</a>, <a href="http://friendfeed.com/meqif" rel="me">friendfeed</a>, <a href="http://www.dopplr.com/traveller/meqif" rel="me">dopplr</a>, and <a href="http://www.linkedin.com/in/ricardompm" rel="me">linkedin</a>.</p>
			<p>When I'm not reading, I'm probably writing code. Most can be found at <a href="http://github.com/meqif" rel="me">github</a>.</p>
			<p>I'm currently developing for the Nintendo DS as a hobby, which I'd like to do full time.</p>
			<p>You should probably take a look at my <a href="/resume.html" rel="me">resume</a> if you're interested in hiring me.</p>
		</div>
	</div>

	{{ content }}


	<div id="footer">
		<div id="contact">
			<p>
				<img style="float: left; margin-top: 0.5em; margin-right: 0.5em;" alt="" src="/images/redmage.png"/>
				Ricardo Martins
				<br />
				Computer Science Student
				<br />
				<a href="http://mailhide.recaptcha.net/d?k=01N86GeETDl_T3BFfSz_bhIg==&amp;c=sMQk9aPiKnri8XU2hStEeVu0OCs52lMb5p7eQnIJB40=" id="email" rel="me email">Email me!</a>
			</p>
		</div>
		<div id="links">
			<p>
				<a rel="me" href="http://twitter.com/meqif"><img style="margin-top: 0.1em;" alt="" src="/images/twitter.png"/>twitter.com/meqif</a>
				<br/>
				<a rel="me" href="http://flickr.com/ricardo_martins"><img style="margin-top: 0.3em;" alt="" src="/images/flickr.png"/>flickr.com/ricardo_martins</a>
				<br/>
				<a rel="me" href="http://github.com/meqif"><img style="margin-top: 0.35em;" alt="" src="/images/git.png"/>github.com/meqif</a>
			</p>
		</div>
		<div id="rss">
			<p>
				<a href="/atom.xml"><img src="/images/feed_icon.png" width="64" height="64" alt="Atom Feed" title="Atom Feed"/></a>
			</p>
		</div>
	</div>
</div>

{% if page.url != "" %}
<script type="text/javascript">
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
				document.write('<script type="text/javascript" src="http://disqus.com/forums/scarybox/get_num_replies.js' + query + '"></' + 'script>');
			}
		}
	})();
</script>
{% endif %}
<script type="text/javascript" src="/js/prettify.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/misc.min.js"></script>

<script type="text/javascript">
var domainy = location.protocol == "https:" ? "https://static.getclicky.com" : "http://static.getclicky.com";
document.write(unescape("%3Cscript src='" + domainy + "/124525.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://static.getclicky.com/124525-db16.gif" /></p></noscript>

</body>
</html>
