<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<meta name="keywords" content="ricardo martins, ricardomartins"/>
		<meta name="description" content="Ricardo Martins; Open source enthusiast and Computer Science student @ FCT-UNL, Portugal."/>
		<title>
		  {% unless page.home %}{{ page.title }} - {% endunless %}Ricardo Martins
		</title>
		<link rel="openid.server" href="http://www.myopenid.com/server"/>
		<link rel="openid.delegate" href="http://meqif.myopenid.com"/>
		<link rel="alternate" type="application/atom+xml" href="/atom.xml"/>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="/css/reset.css"/>
		<link rel="stylesheet" media="all" href="/css/screen.css"/>
		<link rel="stylesheet" media="all" href="/css/syntax.css"/>
		<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
	</head>

<body>

  <div id="wrapper">
    <div id="header">
      <h1>

		  {% if page.home %}
		  Ricardo Martins
		  {% else %}
		  <a href="/">&larr; Ricardo Martins</a>
		  {% endif %}

      </h1>
      <ul>
        <li>
          <a href="/archive">Archive</a>
        </li>
        <li>
          <a href="http://github.com/meqif">Github &rarr;</a>
        </li>
        <li>
          <a href="http://twitter.com/meqif">Twitter &rarr;</a>
        </li>
      </ul>
      <hr/>
    </div>

	{{ content }}

	<div id="footer">
		<a id="feed" href="/atom.xml">
			<span class="balloon">subscribe!</span> <img src="/images/feed.png"/>
		</a>
      <hr/>
    </div>
  </div>

<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
-->

<script stype="text/javascript">
  $('#tweet').attr('href', 'http://twitter.com/share?url=' + escape(document.location) + '&via=meqif&text=' + escape(document.title.split(' - ')[0]));
</script>

</body>
</html>
