<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }}</title>
	<link rel="me home" href="http://ricardomartins.cc/"/>
	<link rel="openid.server" href="http://www.myopenid.com/server"/>
	<link rel="openid.delegate" href="http://meqif.myopenid.com"/>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.min.css"/>
	<link rel="alternate" type="application/atom+xml" title="Ricardo Martins' web place" href="/atom.xml"/>
	<meta name="author" content="Ricardo Martins" />
	<meta name="description" content="Ricardo Martins{% if page.url == "" %}' online home{% else %} - {{ page.title }}{% endif %}" />
</head>
<body>

<div id="page-wrapper">

	<div style="float: left; position: fixed; top: 0px; left: 0px;display:{% if page.url == "" %}none{% else %}block{% endif %};z-index:-1;">
		<img src="/images/mad_hatter.png"/>
	</div>

	<div id="site-title">
		<a href="/">Ricardo Martins</a>
		<span class="blurb">on software and madness</span>
	</div>
	<div id="navlist-wrapper">
		<ul id="navlist">
			<li><a href="/">archive</a></li>
			<li><a id="about-toggle" href="#">about</a></li>
		</ul>
	</div>

	<div id="about" style="display:{% if page.url == "" %}block{% else %}none{% endif %}">
		<img src="/images/me.jpg" alt="Me!" title="Hello there!"/>
		<div id="about-text">
			<p>Hello there! My name is Ricardo Martins and I'm currently in my third year of Computer Science at <a href="http://www.di.fct.unl.pt">Faculdade de Ciências e Tecnologia &mdash; Universidade Nova de Lisboa.</a></p>
			<p>You can also find me at <a href="http://twitter.com/meqif" rel="me">twitter</a>, <a href="http://identi.ca/meqif" rel="me">identi.ca</a>, <a href="http://delicious.com/meqif" rel="me">del.icio.us</a>, <a href="http://flickr.com/ricardo_martins" rel="me">flickr</a>, <a href="http://www.librarything.com/profile/meqif" rel="me">librarything</a>, <a href="http://www.last.fm/user/Meqif" rel="me">last.fm</a>, <a href="http://friendfeed.com/meqif" rel="me">friendfeed</a>, <a href="http://www.dopplr.com/traveller/meqif" rel="me">dopplr</a>, and <a href="http://www.linkedin.com/in/ricardompm" rel="me">linkedin</a>.</p>
			<p>When I'm not reading, I'm probably writing code. Most can be found at <a href="http://github.com/meqif" rel="me">github</a>.</p>
			<p>I'm currently developing for the Nintendo DS as a hobby, which I'd like to do full time.</p>
			<p>You should probably take a look at my <a href="/resume.html" rel="me">resume</a> if you're interested in hiring me.</p>
		</div>
	</div>

	{{ content }}

</div>

<div id="footer">
	<div id="links">
		<p>
			<a href="http://twitter.com/meqif" rel="me">twitter.com/meqif</a>
			<br />
			<a href="http://flickr.com/ricardo_martins" rel="me">flickr.com/ricardo_martins</a>
			<br />
			<a href="http://github.com/meqif" rel="me">github.com/meqif</a>
		</p>
	</div>
	<div id="rss">
		<p>
			<a href="/atom.xml"><img src="/images/feed_icon.png" alt="Atom Feed" title="Atom Feed"/></a>
		</p>
	</div>
</div>
{% if page.url != "" %}
<script type="text/javascript">
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
				document.write('<script type="text/javascript" src="http://disqus.com/forums/scarybox/get_num_replies.js' + query + '"></' + 'script>');
			}
		}
	})();
</script>
{% endif %}
<script type="text/javascript" src="/js/prettify.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	// google-code-prettify
	prettyPrint();

	$('a#about-toggle').click(function() {
		$('#about').slideToggle(400);
		return false;
	});
});
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10241665-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
