---
layout: default
---
<article>
<h2>{{ page.title }}</h2>

<p class="date">{{ page.date | date: "%d %b %Y" }}</p>

<span id="article_buttons">
  <a id="tweet" target="_blank">
    <span class="balloon">tweet!</span> <img src="/images/tweet.png"/>
  </a>
  <a href="/atom.xml">
    <span class="balloon">subscribe!</span> <img src="/images/feed.png"/>
  </a>
</span>

<hr/>

<div id="content">
{{ content }}
</div>
</article>

<div id="comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript" src="http://disqus.com/forums/scarybox/embed.js"></script>
	<noscript><a href="http://scarybox.disqus.com/?url=ref">View the discussion thread.</a></noscript>
</div>
